background-color: black;

#opening{
	position:absolute;
	left:470px;
	top:28px;
	text-align: center;
	font-size: 43px;
}

#NAO{
	position: absolute;
	left: 150px;
	top: 10px;
	size: 95;
}

#sitting{
	position: absolute;
	left: 810px;
	top: 245px;
	visibility: hidden;
}

#standing{
	position: absolute;
	left: 834px;
	top: 230px;
	visibility: hidden;
}

#wordBubble{
	position: absolute;
	left: 350px;
	top: 10px;
}

#yesButton{
	position:absolute;
	left: 540px;
	top: 400px;
}

#nextButton{
	position:absolute;
	left: 30px;
	top: 82px;
	visibility: hidden;
}

canvas{
	margin-left: 25px;
	border: 2px solid #121212;
}

#canvasAction{
	position: absolute;
	left: 827px;
	top: 175px;
	text-align: center;
	visibility: hidden;
}



#select{
	text-align: center;
}

#canvasAction2{
	position: absolute;
	text-align: center;
	left: 820px;
	top: 202px;
}

#secondsText{
	visibility: hidden;
	position: absolute:
	text-align: center;
	
}

#canvasText{
	position: absolute;
	left: 560px;
	top: 175px;
	font-size: 19px;
	visibility: hidden;
}

#textarea{
	font-size: 14px;
}

#bottom{
	margin-top: 452px;
	margin-left: 230px;
	position: absolute;
	height: 167px;
	width: 780px;
	border: 2px solid;
	visibility: hidden;
	background-color: white;
	background: rgb(206,220,231); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#scrollBox, #timelineLabel{
	height:400px;
	width:224px;
	margin-left: 4px;
	margin-top: 150px;
	overflow: scroll;
	border: 2px solid;
	border-top: dotted;
	position: absolute;
	visibility: hidden;
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#timelineLabel{
	margin-top: 0px;
	height: 500px;
	width: 224px;
	position: absolute;
	border-top: 2px solid;
	border-bottom: none;
	text-align: center;
}

.timelineElement {
	color: black;
	width: 200px;
	height: 120px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 5px outset;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 10px;
	text-align: center;
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
background: linear-gradient(135deg, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}	

#corner{
	margin-top: 550px;
	margin-left: 4px;
	height: 69px;
	width: 224px;
	position: absolute;
	visibility: hidden;
	border: 2px solid;
	background-color: gray;
}

#bottomScreen{
	margin-top: 619px;
	margin-left: 230px;
	position: absolute;
	height: 17px;
	width: 784px;
	border: none;
	visibility: hidden;
	background-color: white;
}

h1,h4,p {
	text-align: center;
}

h1{
	text-wrap: underline;
}